.battlefield__audience {
  position: relative;
}

.battlefield__audience canvas {
  position: absolute;
  width: 100%;
  height: 160%;
  /* z-index: -1; */
}

.audience__emoji {
  position: absolute;
  width: 100%;
  height: 100%;
}

.emoji {
  position: absolute;
  border-radius: 20px;
  padding: 4px;
  background-color: white;
  font-size: 2rem;
}

.battlefield__audience__data {
  position: absolute;
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  z-index: 5;
}

.battlefield__audience__excitement {
  border-radius: 16px;
  padding: 4px;
  margin: 10px;
  font-size: 3rem;
  font-weight: bold;
  background-color: white;
}

.audience__hype {
  padding: 8px;
  border-radius: 18px;
  background-color: white;
  font-size: 2rem;
}

.audience__hype__content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-radius: 18px;
}

.audience__hype__content.green {
  background-color: #99C2A7;
}

.audience__percentages {
  display: flex;
  background-color: white;
  padding: 4px 8px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 500px;
  border-radius: 10%;
}

.audience__percentage {
  text-align: center;
  background-color: var(--c_background);
  color: black;
}

.audience__percentage--ar {
  background-color: #b09f79;
  color: white;
}

.audience__percentage--sa {
  background-color: black;
  color: white;
}

.audience__percentage--gu {
  background-color: #da3833;
  color: white;
}

.audience__percentage--pu {
  background-color: #7b4b97;
  color: white;
}
