
.event {
  position: relative;
  width: 50%;
  height: 100%;
}

.event--prev {
  display: none;
}

.event__flavor {
  width: 100%;
  height: 10%;

  background:
    radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
    radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
    radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
    radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
    var(--c_primary_v);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}

.event__ribbon {
  position: relative;

  width: 100%;
  height: 40px;

  background-color: var(--c_secondary);
}

.event__ribbon::before {
  content: '';
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 110%;

  border-top: 1px solid var(--c_secondary);
  border-bottom: 1px solid var(--c_secondary);
}

.event__ribbon::after {
  content: '';
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 90%;

  border-top: 2px dashed var(--c_background);
  border-bottom: 2px dashed var(--c_background);
}

.event__name {
  position: relative;
}

.event__name h1 {
  position: absolute;
  margin: 0;
  margin-left: 10px;
}

.event__year {
  color: var(--c_background);
  font-size: 1.6rem;

  margin-left: 10px;
}

.event__subtitle {
  display: grid;
  grid-template-columns: 50% repeat(3, 1fr);
  width: 100%;

  margin-top: 10%;
}

.event__subtitle em {
  grid-column: 2 / span 2;
}

.event__tournament {
  margin: 10% 0;
}

.event__tournament li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.4rem;
}

.event__tournament li span {
  grid-column: 2 / -1;
}

.next-battle__button, .host-battle__button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
