:root {
  --ease-out: cubic-bezier(0.33, 1, 0.68, 1);
  --c_background: #F1EFE4;
  --c_primary: #5C6D70;
  --c_primary_v: #484A47;
  --c_secondary: #A37774;
  --c_secondary_v: #E88873;
  --c_ternary: #b09f79;

  --s: 0.8vw; /* control the size */
  --_g: #0000 83%,var(--c_ternary) 85% 99%,#0000 101%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: #F1EFE4;
}

html {font-size: 100%;}

body {
  line-height: 1.75;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: Garamond, serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

button {
  margin: 0;
  border: 0;

  color: white;
  padding: 8px 16px;
  border-radius: 5px;

  background-color: var(--c_secondary);
  font-family: Helvetica, sans-serif;
  font-size: 1rem;

  transition: background-color 0.2s var(--ease-out);
}

button:hover {
  background-color: var(--c_secondary_v);
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.host-tournament-button {
  position: absolute;

  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

.screen {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: none;
}

.screen--visible {
  display: block;
}
