.battlefield {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.battlefield__audience {
  position: relative;
  /* background-color: #C9D0C8; */
}

.battlefield__audience canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.audience__emoji {
  position: absolute;
  width: 100%;
  height: 100%;
}

.emoji {
  position: absolute;
  border-radius: 20px;
  padding: 4px;
  background-color: white;
  font-size: 2rem;
}

.battlefield__audience__data {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  z-index: 5;
}

.battlefield__audience__meter {
  padding: 4px;
  margin: 10px;
  font-size: 3rem;
  font-weight: bold;
  background-color: white;
}

.battlefield__audience__excitement {
  padding: 4px;
  margin: 10px;
  font-size: 3rem;
  font-weight: bold;
  background-color: white;
}

.battlefield__knights {
  display: flex;
  justify-content: space-evenly;
}

.battlefield__knights .state__knight {
  position: relative;
}

.battlefield__knights .state__knight--attacked img {
  content: '';
  position: absolute;
  widows: 100%;
  height: 100%;

  background-color: red;
  opacity: 0.4;
}

.battlefield__cards {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.battlefield__cards__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battlefield__cards__slot {
  display: none;
  height: 250px;
  width: 180px;
  margin: 10px;

  animation: select-card 0.6s linear infinite alternate;
}

.battlefield__cards__slot.visible {
  display: block;
}

.battlefield__cards__committed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.battlefield__cards__controls {
  display: flex;
  flex-direction: column;
}

.battlefield__cards__controls button {
  margin: 5px;
}

.tournament__hand {
  position: relative;
}

.tournament__hand ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  width: 100%;
}

.tournament__hand__refill {
  position: absolute;
  top: 50%;
  right: 20%;
  z-index: 10;

  transform: translateY(-50%);
}

.card {
  position: relative;

  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;

  height: 250px;
  width: 180px;
  margin: 10px;

  border-radius: 4px;

  background-color: #C9D0C8;
  transition: transform 0.4s var(--ease-out);
}

.tournament__hand .card:hover {
  transform: translateY(-20%);
}

.card--ar {
  background-color: white;
}

.card--sa {
  background-color: black;
}

.card--gu {
  background-color: #da3833;
}

.card--pu {
  background-color: #7b4b97;
}

.card__value {
  border-radius: 50%;

  padding: 20px;
  background-color: white;
  /* font-size: 1.8rem; */
}

.card--flip {
  background-color: #859277;
}

.card--ar .card__value {
  background-color: black;
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);

  border: 1px solid white;
  border-radius: 4px;
  pointer-events: none;
}

.card--ar::before {
  border-color: black;
}

.card h3 {
  margin: 0;
  min-width: auto;
}

.card > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card em {
  padding: 14px;
  color: white;
  text-align: center;
}

.card--ar em {
  color: black;
}

@keyframes select-card {
  from {
    background-color: #C9D0C8;
  }

  to {
    background-color: white;
  }
}


.hype-meter {
  position: relative;
  display: flex;
  height: 60px;

  overflow: hidden;
}

.hype-meter li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 40px;
  padding: 10px;

  color: black;
  background-color: white;
}

.hype-meter li:not(:first-child) {
  border-left: 1px solid black;
}

.hype-meter__marker__audience {
  position: absolute;
  top: 40px;

  transition: transform 0.4s var(--ease-out);
}

.hype-meter__marker__audience div {
  width: 500px;
  height: 15px;
  background-color: #CA3C25;
  border: 3px solid white;

  transform: translateX(calc(-50% + 50px));
}

.hype-meter__marker__preview {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 20px;

  background-color: #859277;
  transform: translateX(-100%);
  transition: transform 0.4s var(--ease-out);
}
