.battlefield {
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr 0.5fr;
  
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.battlefield__knights {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.battle__knight__stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battle__ring {
  display: flex;
  justify-content: space-between;
}

.battlefield__knights .state__knight {
  position: relative;
}

.battlefield__knights .state__knight--attacked img {
  content: '';
  position: absolute;
  widows: 100%;
  height: 100%;

  background-color: red;
  opacity: 0.4;
}

.battlefield__cards {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.battlefield__cards__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battlefield__cards__committed {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.battlefield__cards__controls {
  display: flex;
  flex-direction: column;
}

.battlefield__cards__controls button {
  margin: 5px;
}

.tournament__hand {
  position: relative;
}

.tournament__hand ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  width: 100%;
}

.tournament__hand__refill {
  position: absolute;
  top: 50%;
  right: 20%;
  z-index: 10;

  transform: translateY(-50%);
}