.battlefield {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.battlefield__audience {
  position: relative;
  /* background-color: #C9D0C8; */
}

.battlefield__audience canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.audience__emoji {
  position: absolute;
  width: 100%;
  height: 100%;
}

.emoji {
  position: absolute;
  border-radius: 20px;
  padding: 4px;
  background-color: white;
  font-size: 2rem;
}

.battlefield__audience__data {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  z-index: 5;
}

.battlefield__audience__meter {
  padding: 4px;
  margin: 10px;
  font-size: 3rem;
  font-weight: bold;
  background-color: white;
}

.battlefield__audience__excitement {
  padding: 4px;
  margin: 10px;
  font-size: 3rem;
  font-weight: bold;
  background-color: white;
}

.battlefield__knights {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.battle__knight__stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battle__ring {
  display: flex;
  justify-content: space-between;
}

.battlefield__knights .state__knight {
  position: relative;
}

.battlefield__knights .state__knight--attacked img {
  content: '';
  position: absolute;
  widows: 100%;
  height: 100%;

  background-color: red;
  opacity: 0.4;
}

.battlefield__cards {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.battlefield__cards__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battlefield__cards__committed {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.battlefield__cards__controls {
  display: flex;
  flex-direction: column;
}

.battlefield__cards__controls button {
  margin: 5px;
}

.tournament__hand {
  position: relative;
}

.tournament__hand ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  width: 100%;
}

.tournament__hand__refill {
  position: absolute;
  top: 50%;
  right: 20%;
  z-index: 10;

  transform: translateY(-50%);
}

.card {
  position: relative;

  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;

  height: 225px;
  width: 250px;

  border-radius: 10px;

  background-color: #F8F7F2;
  overflow: hidden;
  transition: transform 0.4s var(--ease-out);
}

.tournament__hand .card {
  margin: 10px;
}

.tournament__hand .card:hover {
  transform: translateY(-20%);
}

.card__component {
  color: white;
  pointer-events: none;
}

.card__component:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / -1;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  transform: translateX(-50%);
}

.card__component:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.card__component:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;

  color: black;
  text-align: center;
}

.card__component:nth-child(3) h4 {
  margin: 0;
}

.card__component:nth-child(4) {
  grid-column: 3;
  grid-row: 1 / -1;

  border-radius: 50%;
  width: 40px;
  height: 40px;

  transform: translateX(50%);
}

.card__component--ar {
  background-color: white;
  color: black;
}

.card__component--sa {
  background-color: black;
}

.card__component--gu {
  background-color: #da3833;
}

.card__component--pu {
  background-color: #7b4b97;
}

.card__word {
  width: 100px;

  border-radius: 50%;
  padding: 10px;
  background-color: #F8F7F2;
  color: black;
  pointer-events: none;
  text-align: center;
}

.card h3 {
  margin: 0;
  min-width: auto;
}

.card > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__component--ar em {
  color: black;
}

.card__slot {
  position: relative;
  height: 225px;
  width: 250px;
  margin: 10px;

  background-color: #E3DFCA;
  border-radius: 10px;
}

.card__slot:nth-child(5)::before {
  position: absolute;
  transform: translateY(-100%);
}

.card__slot:nth-child(5)::before {
  content: '+1 hype';
}

.card__slot:nth-child(6)::before {
  content: '+2 hype';
}

@keyframes select-card {
  from {
    background-color: #C9D0C8;
  }

  to {
    background-color: white;
  }
}


.hype-meter {
  position: relative;
  display: flex;
  height: 60px;

  overflow: hidden;
}

.hype-meter li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 40px;
  padding: 10px;

  color: black;
  background-color: white;
}

.hype-meter li:not(:first-child) {
  border-left: 1px solid black;
}

.hype-meter__marker__audience {
  position: absolute;
  top: 40px;

  transition: transform 0.4s var(--ease-out);
}

.hype-meter__marker__audience div {
  width: 300px;
  height: 15px;
  background-color: #CA3C25;
  border: 3px solid white;

  transform: translateX(calc(-50% + 50px));
}

.hype-meter__marker__preview {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 20px;

  background-color: #859277;
  transform: translateX(-100%);
  transition: transform 0.4s var(--ease-out);
}

.audience__percentages {
  display: flex;
  background-color: white;
  padding: 4px 8px;
  width: 500px;
}

.audience__percentage {
  text-align: center;
  background-color: var(--c_background);
  color: black;
}

.audience__percentage--ar {
  background-color: white;
}

.audience__percentage--sa {
  background-color: black;
  color: white;
}

.audience__percentage--gu {
  background-color: #da3833;
  color: white;
}

.audience__percentage--pu {
  background-color: #7b4b97;
  color: white;
}
